//colors 
@oldRose: #AC3C3C;
@lightCoral: #EC6C6C;
@lightCoralv2: #F48C8C;
@indianRed: #DB6B6B;
@lightSalmon: #FC9393;

//fonts

@main: 'Fascinate Inline', cursive;
@secondary: 'Catamaran', sans-serif;
@third: 'Pacifico', cursive;

h1{
    font-family: @main;
    color: white;
}

a{
    font-family: @secondary;
    text-decoration: none;
    color:white;
};

body{
    background: @lightSalmon;
};

.container1{
    height:100%;
    
    margin: 0% 15%;
    background:@lightCoral;
}

.container2{
    height:100%;
    
    margin: 0% 15%;
    background:@indianRed;
}