header{
    width:100%!;
    background: @oldRose;
    .flex();
    padding: 5%;

        .title{
            width:100%;
            text-decoration: none;
          
        }

    nav{
        .flex();
        justify-content: space-between;
        width:50%;
            @media @phone{
                flex-direction: column;
               
            }
       
    }
        a{
            font-family: @secondary;
            @media @phone {
                margin: 2%;
            }
        }
}
