header{
    background: @oldRose;
    .flex();
    padding: 5%;
        .title{
            width:100%;
            text-decoration: none;
           border:@border;
        }
    nav{
        .flex();
        justify-content: space-between;
        width:50%;
       border:@border;
       
    }
        a{
            font-family: @secondary;
        }
}
