header {
  .flex(space-between, center);
  height: 135px;
  margin-bottom: 5%;

  nav {
    border: blue solid 2px;
    .flex(space-around, center);
    height: 3rem;
    width: 60rem;
  }

  a {
    text-decoration: none;
    color: darkgray;
    font-size: 4rem;
    padding: 0, 5%;
    border: black solid 2px;
  }
}

.logo {
  text-align: center;
  border: orange solid 2px;
  
  h1 {
    font-size: 6rem;
  }
}