header {
  .flex(space-between, center);
  height: 135px;
  margin: 0 2% 1%;
  @media @tablet {
    .flex(center, center);
    flex-direction: column;
  }

  nav {
    .flex(space-between, center);
    height: 3rem;
    width: 55%;
    @media @tablet {
      margin-top: 2%;
      width: 75%;
    }
  }

  a {
    text-decoration: none;
    color: darkgray;
    font-size: 2rem;
  }
}

.logo {
  text-align: center;
  
  h1 {
    font-size: 4rem;
    color: @primary;
  }
}