h3 {
  color: white;
  font-size: 1.5rem;
}

.team-profiles {
  @media @mobile {
    .flex(center, center);
    flex-direction: column;
  }
}

.team-container {
  .flex(flex-start, flex-start);
  background: @accent3;
  height: 27.5rem;
  margin: 2.5% 1.5%;
  border-radius: 10px;

  @media @mobile {
    .flex(center, center);
    flex-direction: column-reverse;
    height: 35rem;
    width: 35rem;
  }
}

.pic-container {
  .flex(space-between, center);
  flex-direction: column;
  background: @accent1;
  height: 25rem;
  width: 19rem;
  margin: 1.5%;
  padding: 1% 2%;
  border-radius: 5px;
  
  // Profile Image //
  img {
    border: @accent2 solid 6px;
  }

  // Div Containing Heart, Skull, and text
  div {
    .flex(space-between, center);
    height: 8.2rem;
    width: 19rem;
    background: @accent2;
    border-radius: 5px;
    // Heart and Skull Images
    img {
      height: 5rem;
      border: none;
    }
  }
}

.bio-container {
  margin-top: 6%;

  p {
    margin: 2%;
    @media @mobile {
      display: none;
    }
  }

  h2 {
    color: white;
  }
}

.fab {
  font-size: 2.5rem;
  margin: 1% 4%;
  color: @main-bg;
  @media @mobile {
    display: none;
  }

  a {
    font-family: 'Catamaran', sans-serif;
    text-decoration: none;
    color: @main-bg;
  }
}
